{{ include("htmlhead.html") }}
    
        <section id="banner">
            <div class="banner home">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-4 right">
                            <span class="line os-animation" data-os-animation="zoomIn" data-os-animation-delay="0.3s"></span>
                            <div class="os-animation" data-os-animation="zoomIn" data-os-animation-delay="0.4s">
                                {% for item in home_banner %}
                                    <p>{{ item.subhead|raw}}</p>
                                    <h2>{{ item.head|raw }}</h2>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 left">
                            <div class="os-animation" data-os-animation="zoomIn" data-os-animation-delay="0.4s">
                                {% for item in home_banner %}
                                    <p>{{ item.text|raw  }}</p>
                                {% endfor %} 
                            </div>
                        </div>

                        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-3 col-lg-offset-0">
                            <div class="button-container">
                                <!-- CSS only lightbox button-->
                                <!-- <label for="show-vid" class="btn btn-invert btn-video btn-lg os-animation" data-os-animation="zoomIn" data-os-animation-delay="1.0s">cate&#174; Trailer ansehen</label> --> 
                                <img src="./images/trailer-poster.png" style="width:100%">
                                <!-- <video controls="true" poster="images/trailer-poster.png" name="media" style="width: 100%;cursor: pointer">
                                    <source src="video/cate-trailer_v18.mp4" type="video/mp4">
                                </video> -->
                            </div>
                            <!-- Showcase-Zugang
                            <div class="button-container">
                                <a href="https://demo1.prod.cate-tms.de/ilias.php" class="btn btn-lg btn-invert os-animation" data-os-animation="zoomIn" data-os-animation-delay="1.5s">Showcase-Zugang</a>
                            </div>
                            -->
                            <div class="anchor">
                                    <a href="#anchor_1" class="anchor invert os-animation" data-os-animation="zoomIn" data-os-animation-delay="1.5s">Sprechen wir über Ihre Ziele.</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="videocontainer">
                <input id="show-vid" type="checkbox" />
                <div id="overlay" for="show-v.btn id">
                    <div class="video-wrapper">
                        <label class="close" for="show-vid">Hide Video</label>
                        <iframe width="560" height="315" src="trailer.html" frameborder="0" allowfullscreen></iframe>  
                    </div>
                </div>
            </div>
        </section>

        <section id="03_testimonials">
            <div class="testimonials bg innerspace">
                <div class="container">
                    <div class="row flex-row">

                        <div class="flex-col col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
                            <div id="anchor_1" class="anchor-target"></div>

                            {% for item in testimonials.intro %}
                                <h2>{{ item.head|raw }}</h2>
                                <p>{{ item.text|raw }}</p>
                            {% endfor %}

                            <div class="anchor">
                                <a href="#varianten" class="anchor" data-os-animation="zoomIn" data-os-animation-delay="0.5s">Wo liegen Ihre Themen?</a>
                            </div>
                        </div>

                        <div class="flex-col flex-end col-xs-11 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-3 col-lg-4 col-lg-offset-2">

                            <div class="testimonials_1">
                                {% for item in testimonials.t01 %}
                                <div class="slider-item">
                                    <p class="testimonial-text">{{ item.text|raw }}<br>
                                    <span class="testimonial-user">{{item.name}}</span></p>
                                </div>
                                {% endfor %} 
                            </div>
                        </div>
                    </div>

                    <div class="row">    
                        <div class="col-xs-11 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-7 col-lg-4 col-lg-offset-6">

                           <div class="testimonials_2">
                                {% for item in testimonials.t02 %}
                                <div class="slider-item">
                                    <p class="testimonial-text">{{ item.text|raw }}<br>
                                    <span class="testimonial-user">{{item.name}}</span></p>
                                </div>
                                {% endfor %} 
                            </div>

                        </div>
                        
                        <div class="col-xs-11 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-5 col-lg-4 col-lg-offset-3">

                            <div class="testimonials_3">
                                {% for item in testimonials.t03 %}
                                <div class="slider-item">
                                    <p class="testimonial-text">{{ item.text|raw }}<br>
                                    <span class="testimonial-user">{{item.name}}</span></p>
                                </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="04_varianten">
            <div class="price innerspace">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12" style="margin-top:75px;">
                            <div id="varianten" class="anchor-target"></div>
                            <h2>Auf Ihrem Level einsteigen und ganz leicht upgraden</h2>
                            <span class="line"></span>
                            <div class="top"></div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- product variant cards -->
                        {{ include("variant-cards.html") }}

                    </div>

                    <div class="anchor">
                        <a href="#company">Sprechen Sie mit uns über Ihre Ziele.</a>
                    </div>
                </div>
            </div>
        </section>

        <section id="05_company">
            <div class="referenz bg innerspace">
                <div class="container">
                    <div class="row">

                        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">

                            <div id="company" class="anchor-target"></div>

                             {% for entry in company %}
                                <h4>{{ entry.subhead|raw }}</h4>
                                <h2>{{ entry.head|raw }}</h2>
                            
                                {% for item in entry.items %}
                                    <p>{{ item|raw }}</P>
                                {% endfor %}

                            {% endfor %} 

                            <div class="button-container">
                                <a class="btn btn-primary" target:"_blank" href="http://www.concepts-and-training.de" target="_blank">Zur CaT-Website</a>
                            </div>

                            <div class="anchor">
                                <a href="#path">Finden wir gemeinsam Ihre Lösung.</a>
                            </div>
                        </div>
                    

                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4 flex-row flex-wrap">

                            <div class="ref-logo"><a target="_blank" href="https://www.skoda-auto.de/"><img src="images/logos/logo-skoda.svg" style="height:37px" alt="Skoda"></a> </div>
                            <div class="ref-logo"><a target="_blank" href="https://www.sparkassenversicherung.de/content/privatkunden/"><img src="images/logos/logo-sv.svg" style="height:41px" alt="SV" ></a> </div>
                            <div class="ref-logo"><a target="_blank" href="https://www.lvm.de/privatkunden/"><img src="images/logos/logo-lvm.svg" alt="AXA" ></a> </div>
                            <div class="ref-logo"><a target="_blank" href="https://www.devk.de/"><img src="images/logos/logo-devk.svg" alt="DEVK"></a> </div>
                            <div class="ref-logo"><a target="_blank" href="https://fws-kettig.de/"><img src="images/logos/logo-fws.svg" alt="FWS"></a> </div>
                            <div class="ref-logo"><a target="_blank" href="https://www.seepex.com/de/"><img src="images/logos/logo-seepex.svg" style="height:26px" alt="Seepex"></a> </div>
                            <div class="ref-logo"><a target="_blank" href="https://www.comdok.de/"><img src="images/logos/logo-comdok.svg" style="height:22px" alt="Comdok"></a> </div>
                            <div class="ref-logo"><a target="_blank" href="https://www.lebenshilfe-karlsruhe.de/"><img src="images/logos/logo-lebenshilfe.png" style="height:38px" alt="Lebenshilfe"></a> </div>
                            

                            <p> &nbsp;</p>
                        </div>

                    </div>
                    
                </div>
            </div>
        </section>

        <section id="06_workflow">
            <div class="workflow bg-1 innerspace center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="path" class="anchor-target"></div>
                            <h2>Der gemeinsame Weg</h2> 
                            <p>Alles beginnt mit einem unverbindlichen Gespräch. <br>Sind die Ziele gesteckt und die Anforderungen definiert, gehen wir den Rest <br>des Weges mit Ihnen gemeinsam – Schritt für Schritt.</p>
                            <p>&nbsp;</p>
                        </div>
                      
                        <div class="col-sm-12 col-md-12 col-lg-12">

                            <!-- pure CSS accordion taken from: https://codepen.io/raubaca/pen/PZzpVe -->
                            <div class="tabs">

                                {% for step in workflowsteps %}
                                    <div class="col-sm-12 col-md-6 col-lg-4">
                                        <div class="tab">
                                            <img class="workflow icon" src="{{ step.image }}">
                                            <input type="checkbox" id="chck{{ loop.index }}">
                                            <label class="tab-label" for="chck{{ loop.index }}">{{ step.header|raw }}</label>
                                            <div class="tab-content">
                                                <span class="tab-text">
                                                    {{ step.text|raw }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>

                            <p>&nbsp;</p>
                            <div class="anchor">
                                <a href="#contact">Bereit zu starten?</a>
                            </div>
                        </div>
                       
                        <p>&nbsp;</p>
                        <div class="col-lg-12"></div>
                    </div>
                </div>
            </div>
        </section>

        <section id="07_kontakt" class="contact bg innerspace">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div id="contact" class="anchor-target"></div>
                        <h2>Sind Sie bereit zu starten?</h2>
                        <p>Wir finden mit Ihnen gemeinsam eine passende <br>Lösung für Ihre Anforderungen. Vereinbaren Sie mit<br> uns einen unverbindlichen Termin. </p>
                        <div class="button-container">
                            <a href="contact.html" class="btn btn-primary">Termin vereinbaren</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        {{ include("footer.html") }}
      
    </section> <!--closes scroll-section in htmlhead.html -->

    {{ include("script.html") }}

<!-- testimonial slider setup -->
    <script type="text/javascript">
        $(document).ready(function(){
            $('.testimonials_1').bxSlider({
                pause: 15000,
                autoDelay: 0,
            });
            $('.testimonials_2').bxSlider({
                pause: 15000,
                autoDelay: 5000,
            });
            $('.testimonials_3').bxSlider({
                pause: 15000,
                autoDelay: 10000,
            });
        })
    </script>

<!-- Videolightbox kill video on close
https://clicknathan.com/web-design/stop-a-youtube-video-from-playing-after-lightbox-closes/
-->
    <script>
        // We store the URL of the iframe to set in when video is opened and remove
        // it when video is closed. This prevents autostart on page reload.
        var url = document.querySelector('.video-wrapper iframe').getAttribute('src');
        document.querySelector('.btn-video').addEventListener("click", function(ev) {
            document.querySelector('.video-wrapper iframe').setAttribute('src', url);
        });
        document.querySelector('.close').addEventListener("click", function(ev) {
            document.querySelector('.video-wrapper iframe').setAttribute('src', '');
        });
    </script>
    
</body>
</html>

